
@{
    ViewBag.Title = "AccountUser";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";

}
@model MovieTicketBooking.Models.User
@{
    var bkv = MovieTicketBooking.Dao.BookingDao.Instance().GetBookingOfUser(Model.user_id);
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<body>
    <style>

        .mainprofile {
            width: 90%;
            height: auto;
            display: flex;
            margin: auto;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(255, 255, 255);
            padding: 2% 2%;
            overflow-y: scroll;
        }

        .proleft {
            width: 27%;
            height: 500px;
            background-color: white;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }

        .proright {
            width: 70%;
            height: 500px;
            background-color: rgb(255, 255, 255);
            border-radius: 8px;
        }

        .prolefthead {
            width: 90%;
            height: 150px;
            border-bottom: 1px solid gainsboro;
            margin: auto;
            padding: auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .avatarpro {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            overflow: hidden;
        }

        .namepro {
            color: rgb(255, 122, 65);
            font-weight: bold;
        }

        .probo {
            width: 90%;
            height: 30%;
            margin: auto;
            padding: auto;
            border-bottom: 1px solid gainsboro;
        }

        .probohead {
            margin: 20px 0px;
        }

        .probot {
            width: 90%;
            margin: auto;
            padding: auto;
        }

            .probot div {
                height: 50px;
                font-weight: bold;
            }

        .prorighthead {
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 60px;
            border-bottom: 1px solid gainsboro;
        }

        .tablinks {
            background-color: rgb(255, 255, 255);
            border: none;
            font-weight: bold;
            color: rgb(141, 141, 141);
            cursor: pointer;
            height: 100%;
        }

        .selected {
            color: rgb(255, 122, 65);
            border-bottom: 2px solid rgb(255, 122, 65);
        }

        .prorightbo > div {
            display: none;
        }


        .tab {
            width: 90%;
            height: auto;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            margin: auto;
            border-radius: 8px;
            padding: 20px 20px;
        }

        .iteminfo {
            display: flex;
            justify-content: space-around;
            margin: 20px 0px;
        }

        .iteminfochild {
            width: 100%;
        }

        .itemdata {
            height: 50px;
            width: 90%;
            background-color: rgb(240, 240, 240);
            margin: auto;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 20px;
            border-radius: 8px;
        }

        .btneditprofile {
            border: none;
            background-color: rgb(255, 122, 65);
            color: white;
            height: 30px;
            width: 80px;
            border-radius: 7px;
            cursor: pointer;
        }

        .tickethistory {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        #checkcount {
            height: auto;
            width: 27%;
            background-color: white;
            margin: auto;
            border-radius: 8px;
            border-top: 9px solid #ff9900;
        }



        #modalhistory {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 99999; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgba(0,0,0,0.5);
            justify-content: center;
            align-items: center
        }

        #changepassmd {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 99999; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgba(0,0,0,0.5);
            justify-content: center;
            align-items: center
        }

        #tabchild {
            width: 100%;
            height: auto;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            margin: auto;
            margin-top: 20px;
            border-radius: 8px;
            padding: 20px 20px;
        }

        #modalchangepass {
            height: auto;
            padding: 20px 20px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            border-top: 7px solid orange;
            border-radius: 7px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        .contentmd {
            display: none;
            position: fixed;
            z-index: 99999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center
        }

        .modaledit {
            width: 30%;
            height: auto;
            background-color: white;
            padding: 20px 20px;
            border-radius: 8px;
            border-top: 7px solid rgb(255, 153, 0);
        }

        .itemedit {
            height: auto;
            padding: 10px 10px;
        }

        .itemeditchild {
            height: 40px;
            display: flex;
            align-items: center;
            background-color: #efefef;
            padding: 0px 10px;
            border-radius: 5px;
            justify-content: space-evenly;
        }

            .itemeditchild input {
                width: 90%;
                height: 70%;
                border: none;
            }

            .itemeditchild select {
                width: 90%;
                height: 70%;
                border: none;
            }

        .childlabel {
            height: 30px;
            font-weight: bold;
            color: rgb(146, 146, 146);
        }

        *:focus {
            outline: none;
        }
    </style>
    <div class="mainprofile">
        <div class="proleft">
            <div class="prolefthead">
                <img class="avatarpro"
                     src="https://firebasestorage.googleapis.com/v0/b/movieticketbooking-7da83.appspot.com/o/c5ec52d3afb7835851bf583481a731ba.jpg?alt=media&token=0e54a6a4-3cbb-4be4-bb79-2568a2b6c765">
                <div class="namepro">
                    <i class="fa-solid fa-user"></i> <span style="color: rgb(63, 63, 63);">
                        @Model.user_name
                    </span>
                </div>
            </div>
            <div class="probo">
                <div>
                    <div class="probohead">
                        Total Spending 2024:<span style="color:orangered;font-weight:bold;margin-left:50px;font-size:20px"> @TempData["totalofuser"] $</span>
                    </div>
                    <div class="probohead">
                        Point:<span style="color:orangered;font-weight:bold;margin-left:150px;font-size:20px"> @TempData["totalofuser"] </span>
                    </div>
                </div>
            </div>
            <div class="probot">
                <div>
                    Hotline: 0393035090
                </div>
                <div>
                    Email: ntviet1333@gmail.com
                </div>
            </div>
        </div>
        <div class="proright">
            <div class="prorighthead">
                <button class="tablinks">Transaction history</button>
                <button class="tablinks">Your information</button>
                <button class="tablinks">Notification</button>
                <button class="tablinks">Gift</button>
                <button class="tablinks">Policy</button>
            </div>
            <div style="height: 20px;"></div>
            <div class="prorightbo">
                <div class="tab" style="height:25px;text-align:center;padding:unset">
                    Note: only displays the 20 most recent transactions
                    @if (bkv != null)
                    {

                        foreach (var bookingView in bkv)
                        {

                            var da = bookingView.booking.booking_time?.ToString("yyyy-MM-dd");

                            <div id="tabchild">
                                <div class="tickethistory">
                                    <img style="height: 80px;" src="@bookingView.movie.poster_image" alt="">
                                    <div class="film">
                                        <div style="color: rgb(255, 102, 0);font-weight: bold;height: 50px;font-size:18px">@bookingView.movie.title</div>
                                        <div style="color: rgb(90, 90, 90);font-size: 14px;font-weight: 700;width:300px">Cast: @bookingView.movie.cast</div>
                                    </div>
                                    <div class="historyshowtime">
                                        <div style="font-size:17px;font-weight:bold">@bookingView.theater.name</div>
                                        <div style="height:20px"></div>
                                        <div>Date: @da </div>
                                    </div>
                                    <button type="button" onclick="HistoryTransaction(@bookingView.booking.booking_id)" style="border: none;background-color: rgb(255, 255, 255);color: rgb(255, 111, 0);height: 40px;width: 80px;border-radius: 7px;cursor: pointer;">Detail</button>
                                </div>
                            </div>
                        }

                    }
                    else
                    {
                        <div style="margin-top:20px;font-size:18px;font-weight:bold">Don't Have Booking</div>
                    }
                </div>
                <div class="tab">
                    <div class="iteminfo">
                        <div class="iteminfochild">
                            <div style="font-weight: bold;color: rgb(119, 119, 119);margin-bottom: 10px;"> Name </div>
                            <div class="itemdata">
                                <i class="fa-solid fa-user" style="margin-right: 20px;"></i>@Model.user_name
                            </div>
                        </div>
                        <div class="iteminfochild">
                            <div style="font-weight: bold;color: rgb(119, 119, 119);margin-bottom: 10px;">
                                Birthday
                            </div>
                            <div class="itemdata">
                                @{ var a = Model.birthday?.ToString("yyyy-MM-dd");}
                                <i class="fa-solid fa-calendar-days"
                                   style="margin-right: 20px;"></i>@a
                            </div>
                        </div>
                    </div>
                    <div class="iteminfo">
                        <div class="iteminfochild">
                            <div style="font-weight: bold;color: rgb(119, 119, 119);margin-bottom: 10px;"> Email </div>
                            <div class="itemdata"><i class="fa-solid fa-envelope" style="margin-right: 20px;"></i>@Model.email</div>
                        </div>
                        <div class="iteminfochild">
                            <div style="font-weight: bold;color: rgb(119, 119, 119);margin-bottom: 10px;">
                                Phone
                            </div>
                            <div class="itemdata">
                                <i class="fa-solid fa-phone"
                                   style="margin-right: 20px;"></i>039303500
                            </div>
                        </div>
                    </div>
                    <div class="iteminfo">
                        <div class="iteminfochild">
                            <div style="font-weight: bold;color: rgb(119, 119, 119);margin-bottom: 10px;"> Gender </div>
                            @if (Model.gender == 0)
                            {


                                <div class="itemdata"><i class="fa-solid fa-venus-mars" style="margin-right: 20px;"></i>Female</div>
                            }
                            else
                            {
                                <div class="itemdata"><i class="fa-solid fa-venus-mars" style="margin-right: 20px;"></i>Male</div>
                            }
                        </div>
                        <div class="iteminfochild">
                            <div style="font-weight: bold;color: rgb(119, 119, 119);margin-bottom: 10px;">
                                Password
                            </div>
                            <div class="itemdata">
                                <i class="fa-solid fa-lock"
                                   style="margin-right: 20px;"></i>..............<button style="margin-left:100px;border:none;color:orange" type="button" onclick="Changepassmd()">Change Password</button>
                            </div>
                        </div>
                    </div>
                    <div style="width: 98%;text-align: end;">  <button class="btneditprofile" onclick="Showmdeditprofile()">Edit Profile</button></div>
                </div>
                <div class="tab">3</div>
                <div class="tab">4</div>
                <div class="tab">5</div>

            </div>
        </div>
    </div>
    <div id="modalhistory">
        <div id="checkcount">
            <div id="historyseatcombo">

            </div>
        </div>
    </div>
    <div id="changepassmd">
        <div id="modalchangepass">
            <form>
                <div style="font-weight: bold;text-align: center;color: rgb(255, 140, 0);">Change Password</div>
                <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; height: auto; padding: 20px 20px ">
                    <div>Old Password</div>
                    <input type="password" id="oldpassmd" style="width:70%" />
                    <input type="hidden" id="id_userr" value="@Model.user_id" />
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; height: auto; padding: 20px 20px ">
                    <div>New Password</div>
                    <input type="password" id="newpassmd" style="width:70%" />
                </div>
                <div style="display: flex;
      justify-content: space-between;
      align-items: center;width:100%;height:auto;padding:20px 20px
  ">
                    <div>Confirm Password</div>
                    <input type="password" id="confirmpassmd" style="width:80%" />
                </div>
                <div style="text-align:end">   <button type="button" onclick="Userchangepass()" style=" border: none; height: 30px; width: 80px; border-radius: 5px; background-color: #ff9100; color: white;">Submit</button></div>
            </form>
        </div>
    </div>
    <div class="contentmd" id="contentmd">
        <div class="modaledit">
            <div style="text-align: center;font-size: 18px;font-weight: bold;color: rgb(255, 153, 0);height: 50px;box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;">Edit Profile</div>
            <form action="">
                <div class="itemedit">
                    <div class="childlabel">Name</div>
                    <div class="itemeditchild">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" id="name_edit" value="@Model.user_name">
                    </div>
                </div>
                <div class="itemedit">
                    <div class="childlabel">Birthday</div>
                    <div class="itemeditchild">
                        <i class="fa-solid fa-calendar-days"></i>
                        <input type="date" id="birthday_edit" value="@a">
                    </div>
                </div>
                <div class="itemedit">
                    <div class="childlabel">Email</div>
                    <div class="itemeditchild">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="text" id="email_edit" value="@Model.email">
                    </div>
                </div>
                <div class="itemedit">
                    <div class="childlabel">Phone</div>
                    <div class="itemeditchild">
                        <i class="fa-solid fa-phone"></i>
                        <input type="number" id="phone_edit" value="@Model.user_phone">
                    </div>
                </div>
                <div class="itemedit">
                    <div class="childlabel">Gender</div>
                    <div class="itemeditchild">
                        <i class="fa-solid fa-venus-mars"></i>
                        <select name="gender" id="gender_edit">
                            @{
                                var gender = Model.gender;
                            }
                            <option value="1" @(gender == 1) ?? selected:"">Male</option>
                            <option value="0" @(gender == 0) ?? selected:"">Female</option>

                        </select>
                    </div>
                </div>
                <div style="width: 90%;height: 40px;display: flex;align-items: center;justify-content: end;">
                    <button style="height: 30px;width: 80px;border: none; background-color:rgb(255, 153, 0) ;color: white;border-radius: 5px;cursor: pointer;" type="button" onclick="EditProfile()">Save</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    var btnTabs = document.querySelectorAll(".tablinks");
    btnTabs.forEach(function (btn, index) {
        btn.addEventListener('click', function () {
            btnTabs.forEach(function (tab) {
                tab.classList.remove('selected');
            });
            this.classList.add('selected');
            var tabContent = document.querySelectorAll('.prorightbo > div');
            tabContent.forEach(function (tab, tabIndex) {
                if (tabIndex === index) {
                    tab.style.display = 'block';
                } else {
                    tab.style.display = 'none';
                }
            });
        });
    });
    btnTabs[1].click();
</script>

<script>
    function HistoryTransaction(booking_id) {
        var modalshowtime = document.getElementById("modalhistory");
        modalshowtime.style.display = "flex";
        window.onclick = function (event) {
            if (event.target == modalshowtime) {
                modalshowtime.style.display = "none";
            }
        }
        $.ajax({
            url: '/Booking/HistoryTransaction',
            type: 'POST',
            data: {
                id_booking: booking_id

            },
            success: function (response) {
                $('#historyseatcombo').html(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }
    function Changepassmd() {
        var changepassmd = document.getElementById("changepassmd");
        changepassmd.style.display = "flex";
        window.onclick = function (event) {
            if (event.target == changepassmd) {
                changepassmd.style.display = "none";
            }
        }
    }
    function Userchangepass() {
        var user_id = document.getElementById("id_userr").value;
        var oldpass = document.getElementById("oldpassmd").value;
        var newpass = document.getElementById("newpassmd").value;
        var confirmpass = document.getElementById("confirmpassmd").value;
        if (oldpass != "" && newpass != "" && confirmpass != "") {
            if (newpass == confirmpass) {
                $.ajax({
                    url: "/Client/UserChangePassword",
                    type: "Post",
                    data: {
                        userid: user_id,
                        oldpassword: oldpass,
                        newpassword: newpass
                    },
                    success: function (response) {
                        if (response == "True") {
                            changepassmd.style.display = "none";
                            swal({
                                title: "Change Password Success",
                                text: "success",


                            });
                        } else {
                            changepassmd.style.display = "none";
                            swal({
                                title: "Change Password Fail",
                                text: "Try again",
                                icon: "error",

                            }).then((value) => {
                                if (value) {
                                    changepassmd.style.display = "flex";
                                }
                            });

                        }
                    }
                })
            } else {
                changepassmd.style.display = "none";
                swal({
                    title: "Password and PasswordConfirm does not match",
                    text: "Try again",
                    icon: "error",

                }).then((value) => {
                    if (value) {
                        changepassmd.style.display = "flex";
                    }
                });
            }
        } else {
            changepassmd.style.display = "none";
            swal({
                title: "Please input all field",
                text: "Try again",
                icon: "error",

            }).then((value) => {
                if (value) {
                    changepassmd.style.display = "flex";
                }
            });
        }
    }
    function Showmdeditprofile() {
        var md = document.getElementById("contentmd");
        md.style.display = "flex";
        window.onclick = function (event) {
            if (event.target == md) {
                md.style.display = "none";
            }
        }
    }
    function EditProfile() {
        debugger
        var md = document.getElementById("contentmd");
        var name_edit = document.getElementById("name_edit").value;
        var email_edit = document.getElementById("email_edit").value;
        var birthday_edit = document.getElementById("birthday_edit").value;
        var phone_edit = document.getElementById("phone_edit").value;
        var gender_edit = document.getElementById("gender_edit").value;
        if (name_edit != "" && email_edit != "" && birthday_edit != "" && phone_edit != "" && gender_edit != "") {
            $.ajax({
                url: "/Client/UserEditProfile",
                type: "Post",
                data: {
                    user_name: name_edit,
                    email: email_edit,
                    user_phone: phone_edit,
                    birthday: birthday_edit,
                    gender: gender_edit
                },
                success: function (response) {
                    if (response == "True") {
                        md.style.display = "none";
                        swal({
                            title: "Edit Profile Success",
                            text: "Success",
                            
                            timer: 2000,
                            buttons: false,

                        }).then(() => {
                            window.location.replace("https://localhost:44351/Client/AccountUser");
                        });
                    } else {
                        md.style.display = "none";
                        swal({
                            title: "Edit Profile Fail",
                            text: "Fail",
                            icon: "error",
                            timer: 2000,
                            buttons: false,

                        }).then(() => {
                            md.style.display = "flex";
                        });
                    }
                },
                error:  function(xhr, status, error) {
                    console.error(xhr.responseText);
                },
            })

        } else {
            md.style.display = "none";
            swal({
                title: "Please input all field",
                text: "Try again",
                icon: "error",
                timer: 2000,
                buttons: false,

            }).then(() => {
                md.style.display = "flex";
            });
        }
    }

</script>